
article {
    padding: 2vh;
    color: black;
    margin-top: 5vh;
    margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
}

body {
  	background-color: white;
	font-family: 'Lato', sans-serif;
	display: grid;
	grid-template-columns: min-content 1fr;
	margin: 0;	

}

/* -------------text headings/types------------ */
h1,
h2,
h4,
strong.highlight {
	background: -webkit-linear-gradient(#bfd483, #76d399);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 2em;
}

strong.bold {
	font-weight: bold;
	background: black;
	background: none;
	font-size: 1.2em;
}


h3 {
	font-size: 3.5em;
	margin:0;
}


.intro{

	height:100vh;
    width: 100%;
	  display: grid;
	  grid-template-rows: 5fr 1fr;
	  justify-content: center;
	  grid-column: 1 / 3;
  	/* background-image: url("https://cdn-images-1.medium.com/max/2600/1*7pNkuS3HR2DPLEar6R83jQ.jpeg"); */
}

.introCard{
	align-self: center;
	padding: 2rem;
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.introTitle {
	font-size: 9vw;
	margin: 0%;
	background: -webkit-linear-gradient(#bfd483, #76d399);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.introCard img {
	justify-self: end;
}


.introSubtitle {
	font-size: 4vw;
	margin: 0;
}

.introCardText {
	margin: 1em;
}

.introLinks {
	font-size: 6vw;
	margin: 0;
	color: #7e7e7e;

}

.DownArrow {
	text-align: center;
	color: black;
	font-size: 50px;
    margin: 0;
}

.cardList{
	max-width: 50em;
	display: flex;
    flex-direction: column;
    margin: 0 auto;
	line-height: 1.5;
	padding: 4em 1em;
}

a {
	color: #7e7e7e;
    text-decoration: none;
}

a:hover {
  color: black;
}


.img{
    max-width: 300px;
    overflow: hidden;
    place-self: center;
}

.wrapper-left > img{
	max-width: 50px;
    overflow: hidden;
    place-self: center;
}

.wrapper{
	display: grid;
   /* grid-template-columns: fit-content(200px) auto;*/
   grid-template-columns: 2fr 1fr;
   grid-gap: 1em;
   grid-auto-rows: minmax(100px, auto);
   justify-items:stretch;
}

section {
	padding-top: 20vh;
    padding-bottom: 20vh;
}

.sectionWrapper-left > img{
	max-width: 50px;
    overflow: hidden;
    place-self: center;
}

.sectionWrapper-left{
	display: grid;
   /* grid-template-columns: fit-content(200px) auto;*/
   grid-template-columns: 1fr 2fr;
   grid-gap: 1em;
   grid-auto-rows: minmax(50px, auto);
   justify-items:stretch;
}

.sectionWrapper{
	display: grid;
   /* grid-template-columns: fit-content(200px) auto;*/
   grid-template-columns: 2fr 1fr;
   grid-gap: 1em;
   grid-auto-rows: minmax(100px, auto);
   justify-items:stretch;
}

.wrapper-left{
	display: grid;
   /* grid-template-columns: fit-content(200px) auto;*/
   grid-template-columns: auto 1fr;
   grid-gap: 1em;
   grid-auto-rows: minmax(50px, auto);
   justify-items:stretch;
}

.pannelWrapper{
	display: grid;
   grid-template-columns: 25% 1fr 25%;
   grid-auto-rows: minmax(50px, auto);
   justify-items:stretch;
}


img {
	max-width: 100%;
	border-radius: 10px;
}


.pannels{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;

}

.pannels > div {
	text-align: center;
    padding: 30px;
	background: -webkit-linear-gradient(#bfd483, #76d399);
}

.imagePannels {
	background: none;
}

.pannels > div > img {
	text-align: center;
	max-width: 50px;
}


.gallery{
	display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
}

.gallery > div {
	background-size: cover;
	background-image: 
	 linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ), url("/images/me.jpg");

	 text-align: center;
}

ul {
	list-style: none;
}

.footer {
	color: white;
	background: #7e7e7e;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	padding: 5px;
	grid-column: 1 / 3;
}

.footer > p {
	margin: 0
}

.alignRight {
	text-align: right;
}


nav {
	white-space: nowrap;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 50px 0 0 50px;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
	nav ul {
		position: sticky;
		top: 0;
	}
}
nav ul li a {
	display: block;
	padding: 0.5rem 1rem;
	color: #7e7e7e;
	text-decoration: none;
}
nav ul li a.current {
    background: -webkit-linear-gradient(#bfd483, #76d399);
}